footer {
  position: fixed;
  float: bottom;
  align-items: bottom;
  flex-direction: column;
  display: flex;
  height: 100px;
  width: 100%;
  background-color: #333333;
  bottom:0;
  margin-left:-8px;
}

p.copyright {
  position: absolute;
  width: 100%;
  color: #fff;
  line-height: 40px;
  font-size: 0.7em;
  text-align: center;
  bottom:0;
}
