ul {
  list-style-type: none;
  flex-direction: row;
  display: flex ;
  overflow: hidden;
  background-color: #333;
  align-items: center;
  padding-left: 540px;
  width: auto;
  float: none;
  margin: 0 auto;
}

li {
  float: left;

}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}

li a:hover {
  background-color: #111;
  color: #C99A22;
}

.nav {
  margin-bottom: 60px;
}

footer {
  position: fixed;
  float: bottom;
  align-items: bottom;
  flex-direction: column;
  display: flex;
  height: 100px;
  width: 100%;
  background-color: #333333;
  bottom:0;
  margin-left:-8px;
}

p.copyright {
  position: absolute;
  width: 100%;
  color: #fff;
  line-height: 40px;
  font-size: 0.7em;
  text-align: center;
  bottom:0;
}
